:root {
  --main-color: #e01d3f;
}

.menuItem {
  text-align: right;
}

.Notifications {
  float: right;
  padding: 10px;
  margin-bottom: 20px;
  border: 3px dashed var(--main-color);
}

.Notifications button img {
  width: 10px;
}

.Notifications p {
  margin: 0;
  margin-top: 15px;
}

[data-notification-type="default"] {
  color: blue;
}

[data-notification-type="urgent"] {
  color: red;
}
